<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696097550259-sknk0si5tgc17nqanu2hb0dbtls21ou3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696097550259-sknk0si5tgc17nqanu2hb0dbtls21ou3</string>
	<key>API_KEY</key>
	<string>AIzaSyCxz9xBBkb0Ye5E1ASzD_1-2HeTjYXH-o4</string>
	<key>GCM_SENDER_ID</key>
	<string>696097550259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caffineoverflow.emergencyApp</string>
	<key>PROJECT_ID</key>
	<string>emergency-app-79899</string>
	<key>STORAGE_BUCKET</key>
	<string>emergency-app-79899.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696097550259:ios:37aec3d54023db9d8ea5c6</string>
</dict>
</plist>